<div class="products-view">
  <div class="row">
    <div class="col-3">
      <div class="product-filters">
        <div class="category-filters filter-type">
          <div class="filter-type-name">Category</div>
          <div class="form-check" *ngFor="let category of categoryTypes; let i = index;">
            <input class="form-check-input" type="checkbox" value="" [attr.id]="'category' + i"
                   (change)="onCategoryChange(i)">
            <label class="form-check-label" [attr.for]="'category' + i">
              {{category?.label}}
            </label>
          </div>
        </div>
        <div class="price-filters filter-type">
          <div class="filter-type-name">Price</div>
          <div class="form-check" *ngFor="let priceRange of priceRanges; let i = index;">
            <input class="form-check-input" type="checkbox" value="" [attr.id]="'price' + i"
                   (change)="onPriceRangeChange(i)">
            <label class="form-check-label" [attr.for]="'price' + i">
              {{priceRange?.label}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="all-products">
        <div class="sort-products">
          <label for="sortDropdown">Sort by:</label>

          <select name="sortDropdown" id="sortDropdown"
                  (change)="sortProducts(sortDropdown.value)" #sortDropdown>
            <option value="">Featured</option>
            <option value="1">High to Low</option>
            <option value="2">Low to High</option>
          </select>
        </div>
        <div class="row">
          <div class="col-3 card-container" *ngFor="let product of products;">
            <div class="card">
              <img [src]="product?.image" class="card-img-top" alt="..."
                   (click)="goToDetail(product)">
            </div>
            <div class="product-info">
              <div class="type flex-center">{{product?.name}}
              </div>
              <div class="price flex-center">{{product?.price | currency : 'USD'}}
              </div>
            </div>
          </div>
          <div class="flex-center padding-20" *ngIf="!products.length">No matching products</div>
        </div>
      </div>
    </div>
  </div>
</div>
